@model NetCoreBasicAccounting.Data.Entities.AccountingEntry
@using NetCoreBasicAccounting.Data.Enums

@{
    ViewData["Title"] = "Create";
    ViewBag.Date = DateTime.Now;
    ViewBag.User = User.Identity.GetHashCode();
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Entrada Contable - Fecha @ViewBag.Date </h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AuxiliarOrigin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AuxiliarOrigin" value="@ViewBag.User" class="form-control" readonly="readonly" />
                <span asp-validation-for="AuxiliarOrigin" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AccountingSeatDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AccountingSeatDate" value="@ViewBag.Date" class="form-control" readonly="readonly" />
                <span asp-validation-for="AccountingSeatDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="button" id="btnAddDebit"  class="btn btn-primary" value="Agregar Cuenta Debitar" />
                <input type="button" id="btnAddCredit" class="btn btn-primary" value="Agregar Cuenta Creditar" />

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Cuenta/s a Creditar</label>
            <div id="containerToCredit">
                @* Here the DropDowns  to credit are rendered with jquery *@
            </div>
        </div>
        <div class="form-group">
            <label>Cuenta/s a Debitar</label>
            <div id="containerToDebitt">
                @* Here the DropDowns  to credit are rendered with jquery *@
            </div>
        </div>
        <hr/>
        @*<div class="form-group">
            <label asp-for="AccountToDebit" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AccountToDebit" asp-items="@ViewBag.AccountingAccount" class="form-control"></select>
                <span asp-validation-for="AccountToDebit" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AccountToCredit" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AccountToCredit" asp-items="@ViewBag.AccountingAccount" class="form-control"></select>
                <span asp-validation-for="AccountToCredit" class="text-danger"></span>
            </div>
        </div>*@

        @*<div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList<Status>()" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $("#btnAddCredit").click(function (e) {
                var itemIndex = $("#containerToCredit select").length;
                e.preventDefault();
                $.get("@Url.Action("GetAccountsToCreditDropwDown", "AccountingEntries", new { id = 1, movementType = 0 })", function(data) {
                    $("#containerToCredit").append(data);
                });
            });
        });
        $(function () {
            $("#btnAddDebit").click(function (e) {
                var itemIndex = $("#containerToDebit select").length;
                e.preventDefault();
                $.get("@Url.Action("GetAccountsToCreditDropwDown", "AccountingEntries", new { id = 1, movementType = 1 })", function(data) {
                    $("#containerToDebit").append(data);
                });
            });
        });
    </script>
}
