@model IEnumerable<NetCoreBasicAccounting.Data.Entities.AccountingEntry>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (ViewBag.AccountingParameterProccessed == 1)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuxiliarOrigin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountToDebit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovementType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountingSeatDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountingSeatAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuxiliarOrigin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountToDebit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovementType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountingSeatDate)
            </td>
            <td>
                RD$ @item.AccountingSeatAmount.ToString("n2")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
    }
    </tbody>
</table>