@using NetCoreBasicAccounting.Data.Enums
@model IEnumerable<NetCoreBasicAccounting.Data.Entities.AccountingEntry>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (ViewBag.AccountingParameterProccessed == 1)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table table-hover table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountingSeatDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuxiliarOrigin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoneyCurrencyRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountToDebit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountToDebitDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountToDebit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountToCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountToCreditDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountToCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMajorizationProcessed)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountingSeatDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuxiliarOrigin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoneyCurrencyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountToDebit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountToDebitDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountToDebit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountToCredit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountToCreditDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountToCredit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMajorizationProcessed)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                @if (item.IsMajorizationProcessed == MajorizationProcessed.NotProcessed)
                {
                    <a href="@Url.Action("AccountEntryMajorization", "Majorizations", new {accountryEntryId = item.ID})">
                        <button type="button" class="btn btn-primary">Mayorizar</button>
                    </a>
                }

            </td>
        </tr>
    }
    </tbody>
</table>