@model NetCoreBasicAccounting.Data.Entities.AccountingParameter

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccountingParameter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProcessYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProcessYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MajorizationProcessed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MajorizationProcessed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rnc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rnc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthFiscalClose)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthFiscalClose)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
