@model IEnumerable<ComprobationBalance>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountToCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountToCreditDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountToCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountToDebit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountToDebitDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountToCredit)
        </th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountToCredit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountToCreditDescription)
            </td>
            <td>
                @item.AmountToCredit.ToString("n2")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountToDebit)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AccountToDebitDescription)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.AmountToDebit)
            </td>
        </tr>
    }
    </tbody>
</table>
