@model IEnumerable<ComprobationBalance>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovementTypeDescription)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.AccountAmount
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovementTypeDescription)
            </td>
        </tr>
    }
    </tbody>
</table>
