@model NetCoreBasicAccounting.Data.Entities.AccountingAccount

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccountingAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllowsTransactions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllowsTransactions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HigherAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HigherAccount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
